{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lovinator.space</title>
    <link rel="stylesheet" type="text/css" href="{% static 'core/styles.css' %}">
</head>

<body>
    <main>
        {% for repo in repos %}
        <h2>{{ repo.name }}</h2>{{repo.failed_workflows|length}} failed workflows<br>
        {% if repo.latest_commit %}
        {{ repo.latest_commit.message }} - {{ repo.latest_commit.time|timesince }} ago <br>
        {% else %}
        <p class="card-text">No commit data available.</p>
        {% endif %}

        <h3>Failed workflows:</h3>
        {% for workflow in repo.failed_workflows %}
        <li class="list-group-item bg-secondary text-light">
            <a href="{{ workflow.html_url }}" target="_blank" rel="noopener" class="card-link text-info">
                <strong>{{ workflow.name }} ({{ workflow.head_branch }})</strong>
            </a>
            <br>
            Last run: {{ workflow.created_at|timesince }} ago<br>
        </li>
        {% endfor %}
        {% endfor %}
    </main>
</body>

</html>
